<header>
	<h1>Ray Whelan's Portfolio</h1>
	<ul>
    <li><a class="active" href="#home">Home</a></li>
    <li><a href="#news">News</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a href="#about">About</a></li>
	</ul>
</header>

<article>
	<p>
  This is my portfolio. Please check it out!
  </p>
</article>

<footer>
<ul>
    <li><a href="https://www.linkedin.com/in/raymondjwhelan"><img src="https://fubgca.dm2301.livefilestore.com/y3mRHvOgLO3hdfqh27Kn0KNHl0QqPffE8OoN9JLoop6iZDc1HMpQWxs0M-SQKtMfaQX_n5_Cudx-ekUdwcS9oH49R2rR7DcXhzwMwiQcemu1aZvrk8Uy35Fx6-rh8ufgnnz7onF7lT8NwSDbnV6qPN2EGGGQdpPbm-mRJUOPtzPMJE?width=24&height=24&cropmode=none" width="24" height="24" /></a></li>
	</ul>
</footer>